body{
  background-color: #aad8d3;
}
hr{
   border-color:grey;
   border-style: none;
   border-top-style: dotted;
   border-width: 5px;
   width:5%;
}

h1{
  color: #C7423F;
font-family: adobe-garamond-pro;
font-size: 50px;
font-weight: bold;
margin-bottom: 1px;
}
h2{
  color: #393e46;
font-family: din-condensed-web;
font-size: 25px;
font-weight: bold;
margin-bottom: 1px;
}

img{
  border-radius: 50%;
  height: auto;
  width: 250px;
  background-color:grey;

}

img:hover{
  background-color:blue;
}
.Contact{
  border-color:red;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width:5%;
}
